<h1 class="text-center"><%= @cocktail.name %></h1>


<!-- TEST -->
<div class="container">
  <% require "open-uri"
    url = "https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?cs=srgb&dl=pexels-isabella-mendes-338713.jpg&fm=jpg"
    file = URI.open(url)
    test_cocktail = Cocktail.new(name: 'test')
    test_cocktail.photo.attach(io: file, filename: 'nes.png', content_type: 'image/png')
  %>
</div>
<!-- TEST -->


<!-- 1 ROW -->
<div class="row">

  <!-- Review list -->
  <div class="col-sm-12 col-md-6 col-lg-8">
    <div class="container">
      <h4 class="text-center">All Reviews</h4>
      <% if @cocktail.reviews.empty? %>
        <br><br><em><p class="text-center">No review yet! Be the first to leave a review!</p></em>
      <% else %>
        <ul class= "list-inline">
          <% @cocktail.reviews.each do |review| %>
            <li>
              <!-- Rating -->
              <% review.rating.times do %>
                <i class="fas fa-star" style="color: #ffca2d;"></i>
              <% end %>

              <% (5 - review.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
              <!-- ... -->
              : <em>" <%= review.content %> "</em>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- Image -->
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="container container-with-image" style="background-image: url(<%= cl_image_path("sample-2.jpg") %>)">
    </div>
  </div>

</div>


<!-- 1 ROW -->
<div class="row">

  <!-- Ingredient list -->
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="container">
      <h4 class="text-center">Ingredient list</h4>
      <% if @cocktail.doses.empty? %>
        <br><br><em><p class="text-center">No ingredient yet! Feel free to add one!</p></em>
      <% else %>
        <ul class="list-inline">
          <% @cocktail.doses.each do |dose| %>
            <li>
              <i class="fas fa-shopping-cart" style="color: #8c00ff;"></i>
              <%= Ingredient.find(dose.ingredient_id).name %> (<%= dose.description %>)
              <%= link_to (dose_path(dose)),
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
                  <i class="far fa-trash-alt" style="color: #ff0000;"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <!-- New ingredient -->
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="container">
      <h4 class="text-center">Add an ingredient</h4>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.association :ingredient, collection: Ingredient.all.order(:name) %>
        <%= f.input :description %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

</div>


<!-- 1 ROW -->
<div class="row">

  <!-- New Review -->
  <div class="col-12">
    <div class="container">
      <h4 class="text-center">Leave a review!</h4>
      <em><p class="text-center">(100% anonymous. Be careful you cannot delete a review once it has been submitted.)</p></em>
      <%= simple_form_for [ @cocktail, @review ] do |f| %>
        <%= f.input :rating, collection: (1..5) %>
        <%= f.input :content %>
        <%= f.submit "Submit review", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

</div>


<!-- Btn to 'controller#index' -->
<%= link_to 'All Cocktails', cocktails_path, class: "btn btn-dark d-inline-block center mx-auto" %>
