<h1>New Dose (new.html.erb)</h1>



<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-success" %>
  <%= link_to 'Cancel', cocktails_path, class: "btn btn-danger" %>
<% end %>
